.FotomotoToolbarClass ul {
         background-color: #CCCCCC!important;
         border: 1px solid #CCCCCC !important;
         margin-top: 8px !important;
         padding: 2px!important;
         margin-bottom: 5px!important;
         float: left;
         -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius:5px 5px 5px 5px;
}

ul.FotomotoBar li.FotomotoECardButton ,
html > body ul.FotomotoBar li.FotomotoECardButton {
	float:none!important;
}

.FotomotoToolbarClass {
	width:auto!important;	
}
